.notice {
  width: 100%;
  background-color: color(orange);
  color: color(white);
  text-align: center;
  padding: 0.5rem;
}

.alert {
  width: 100%;
  background-color: color(secondary);
  color: color(white);
  text-align: center;
  padding: 0.5rem;
}
